<!DOCTYPE html>
<html lang="en">
  <head>
       {{>headlinks}}

  </head>
  <body>

        {{>navbar}}

    <!-- main header  -->

    
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- right side div  -->
                    <div class="col-md-6 col-12 main_header_right align-item-center">
                       <figure>
                        <img src="img/about.jpg" alt="ankur" class="img-flude" title="Ankur">
                       </figure>
                    </div>
                     <!-- left side div  -->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to Weatherapp</p>
                        <h2>I am a <span class="text_clr">MERN STACK DEVELOPER</span> also freelancer and Blockchain developer</h2>
                        <a href="https://twitter.com/imankurkr01" target="_ankur"><button>About me</button></a>
                    </div>

                </div>
            </div>
        </div>
    </div>
    {{>footer}}

  </body>
</html>
